@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

.container{
    max-width: 1320px;
    margin: auto;
}
.index-bg{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    background-color: #d7d2ad!important;
    font-family: "Rubik", serif;
}
.a-link{
    background-color: white;
    /* transition: all 0.2s linear; */
}
.a-link span{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.a-link:hover{
    outline: 4px solid #e91e63;
    transform: translate(-4px -4px);
}
.rounde-num::before{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 77px;
    font-size: 25px;
    color: rgb(68, 109, 118);
    font-weight: bold;
    text-align: center;
    margin-left: 12px;
    margin-right: 50px;
    pointer-events: none;
    transition: 0.4s all;
}
.rounde-num.op1::before{
    content: "1";
}
.rounde-num.op2::before{
    content: "2";
}
.rounde-num.op3::before{
    content: "3";
}
.rounde-num.op4::before{
    content: "4";
}
.rounde-num.op5::before{
    content: "5";
}
.rounde-num.op6::before{
    content: "6";
}
.rounde-num.op7::before{
    content: "7";
}
.rounde-num.op8::before{
    content: "8";
}


.box{
    width: 400px;
    padding:20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}
.mt-5{
    margin-top: 100px !important;
}
.font-s{
    font-size: 19px;
}
.button{
    padding: 13px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #e91e63 !important;
    color: white;
    /* box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); */
    transition: all 0.3s ease;
}

.button:hover{
    transform: translate(-4px -4px);
    box-shadow: 4px 4px  rgba(0 , 0 , 0 , 0.3) !important;
}
.button:active{
    transform: translate(0) !important;
    box-shadow: none !important;
}
.button-black{
    padding: 13px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: black !important;
    color: white;
    transition: all 0.3s ease;
}
.button-black:hover{
    transform: translate(-4px -4px);
    box-shadow: 4px 4px  rgba(201, 46, 103, 0.908) !important;
}
.button-black:active{
    transform: translate(0) !important;
    box-shadow: none !important;
}
.floating-shadow{
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 80%;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: translateX(-50%);
    filter: blur(10px);
    z-index: -1;
}
.btn-pn{
    outline: 2px solid black;
}
.btn-pn a{
    color: black !important;
}
@media (max-width:450px) {
    .text{
        font-size: 15px !important;
    }
    .rounde-num::before{
        margin-right: 20px !important;
    }
}